.card {
    transition: transform 0.3s ease;
}

.js-modal-trigger .card:hover {
    transform: scale(1.05);
}

.card img ,.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.float-button {
    position: fixed; 
    bottom: 20px; /* 距离底部的距离 */
    right: 20px; /* 距离右侧的距离 */
}